* {
  font-family: Roboto;
}

.modal {
  width: 480px;
  padding-top: 36px;
  padding-bottom: 48px;
  /*height: 459px;*/
  border-radius: 12px;
  background: #c2f5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 96px;
  height: 96px;
  margin-bottom: 8px;
}

.title {
  color: #004980;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 28px;
  text-align: center;
}

.description {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 10px;
}

.time {
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  margin-bottom: 40px;
}

.input {
  border: none;
  border-radius: 10px;
  padding: 7px 57px 6px;
  background: #FFF;
  margin-bottom: 28px;

  color: #999;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.leaderboard_link {
  margin-top: 18px;
  color: #004980;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  text-decoration-line: underline;
}
